body{
    margin: 0;
    
}
.container{
    width: 100%;
    /*margin-right: 0;*/
    padding: 0;
}

a{
    text-decoration: none;
    color: #02475e;
}

h6{
    color: #02475e;
}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #02475e;
}

.jumbotron img{
    width: 300px;
    height: 290px;
}

.jumbotron{
    font-family: lucida bright;
    color: #34656d;
    padding-top: 15rem;
    background-color: #8ab6d6; 
    width: 100%;
    margin: 0em;
}
.jumbotron h1 p{
    padding-top: 1rem;
}

iframe{
    padding: 2rem 1rem;
}

section{
    padding-top: 5rem;
}

nav{
    background-color: #0c4271;

}

p{
    font-size: medium;
}

#skill{
    background-color: #8ab6d6;
}

#skill img{
    width: 82%;
    height: 80%;
}

#contact{
    margin: 0 12px 0 12px;
}
#contact label p{
    font-family: verdana;

}

#about {
    background-color: #8ab6d6;
}

#about p{
    font-family: geneva;
    font-size: 20px;
    color: #34656d;
    margin-left: 5px;
    margin-left: 1rem;
    text-align: justify;
}

#about img{
    width: 300px;
    height: 290px;
}

#job p{
    font-family: verdana;
    font-size: 20px;
    text-align: center;
    margin-top: 1em;
}

#job img{
    margin-left: 4rem;
    height: 90%;
    width: 65%;
}

#projects p{
    font-family: geneva;
    font-size: 20px;
    color: #393e46;
}

#footer{
    background-color: #8ab6d6;
    padding: 5px;
}
#footer p{
    color: #34656d;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
