body{
    margin: 0;
    
}
body .container{
    width: 100%;
    /*margin-right: 0;*/
    padding: 0;
}

h2{
    font-family: calibri;

}

.jumbotron img{
    float: inline-end;
    width: 300px;
    height: 290px;
}

.jumbotron{
    font-family: lucida bright;
    color: #34656d;
    padding-top: 13rem;
    background-color: #8ac4d0; 
    width: 100%;
    margin: 0em;
}
.jumbotron h1{
    padding-top: 1rem;
}

iframe{
    padding: 2rem 1rem;
}

section{
    padding-top: 5rem;
}


footer{
    background-color: #ffff;
    /*padding: 5px;*/
    margin-top: 3rem;
}
nav{
    background-color: #28527a;
}
p{
    font-size: medium;
}

#skill{
    background-color: #8ac4d0;
}

#skill img{
    width: 82%;
    height: 80%;
}

#contact{
    margin: 0 12px 0 12px;
}

#about {
    background-color: #8ac4d0;
}

#about p{
    font-family: geneva;
    font-size: 20px;
    color: #393e46;
    font-variant: initial;
}

#job p{
    font-family: verdana;
    font-size: 20px;
    text-align: center;
    margin-top: 1em;
}

#job img{
    margin-left: 4rem;
    height: 70%;
    width: 70%;
}

#projects p{
    font-family: geneva;
    font-size: 20px;
    color: #393e46;
    font-variant: initial;
}